<div class="footer background">
      <h3>© Copyright Chitanu Stefan Petru.
      <mat-form-field class="right">
            <mat-select [(value)]="selected">
              <mat-option value="ro"><button mat-button (click)="switchLanguage('ro')"><img src="assets/emoji/1f1f7-1f1f4.png" width="17px" height="17px"> RO </button></mat-option>
              <mat-option value="en"><button mat-button (click)="switchLanguage('en')"><img src="assets/emoji/1f1fa-1f1f2.png" width="17px" height="17px"> EN</button></mat-option>
            </mat-select>
      </mat-form-field>
      </h3>
<div>