  
    .container-profil {
      width: 60%;
      height: 100%;
      background: #fff;
      border-radius: 15px;
      overflow: hidden;
    
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    
      padding: 70px 130px 88px 148px;
    }
  
  .avatar{
    border-radius: 50%;
    border: 3px solid rgb(95, 115, 228);
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
  }
  
  .name{
    font-size: 3.5rem;
    font-weight: 300;
    font-family: Montserrat-Regular;
  }
  
  .name-label{
    font-weight: 700;
    font-family: Montserrat-Bold;
  }
  
  .level{
    margin-top: 30px;
    font-size: 1.5rem;
    font-family: Montserrat-Regular;
    display: block;
  }
  
  .title{
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 30px;
    font-weight: 300;
    font-family: Montserrat-Medium;
    color: black;  
  }
  
  .marginTeh{
    box-sizing: border-box;
    font-size: 1.4rem;
  /*   width: 50%;*/
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 200px; 
    margin-right: 70px; 
  }
  
.logo{
  margin-bottom: 1rem;
}

  .numeTehnologie{
    display: block;
    word-break: break-all;
    font-family: Montserrat-Regular;
    font-size: 30px;
  }
  
  
  .tehnologii{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
   .editButton{
    float: right;
    padding: 1px;
    margin-bottom: 70px;
    margin-left: 70px;
   }
  
  
  