.big{
    font-size: 25px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.container-input{
    margin-top: 15px;
}

mat-form-field {
    width: 120%;
}

.buttonLog{
    font-weight: 300;
    font-family: Montserrat-Medium;
}

.reg {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
