.name{
  font-size: 1.57rem;
  font-weight: 100;
}

.name-label{
  font-weight: 500;
}

.center-title {
  text-align: center;
  margin: auto;

}

  .header{
    padding: 3rem 5% 2rem;
    display: flex;
    align-items: center;
}

 .title-container{
    width: 900px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; 
    word-break:break-all;
}

p {
    font-size: 1rem;
    font-weight: 200;
    word-break: break-all;
    color: black;
    font-family: Montserrat-Medium;
}

.comm {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


ul {
  list-style-type: none;
}

.divider{
  border-top: 1px solid #283035;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}


.comment-main-level {
 
  display: block;
  clear: both;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  
  width: 65px;
  height: 65px;
  position: relative;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

textarea{
  resize: none;
}

.postCom {
  margin-top: 10px;
  width:58em;
  height: 10em;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid transparent;
  background-color: #E5E5E5;
}
.postCom:focus {
  outline:none;
}

.subBtn{
  margin: 10px;
  float: right;
}

::placeholder {
  font-size: 15px;
}